{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />
<!--
    =====================
        Templates/News/List.html
-->
<f:section name="content">
    <f:if condition="{news}">
        <f:then>
            <f:switch expression="{settings.templateLayout}">
                <f:case value="100">
                    <!-- CAROUSEL -->
                    <div class="wrapper-slider">
                        <div id="carousel-{contentObjectData.uid}" class="carousel slide home" data-ride="carousel" data-interval="4000">
                           <!-- Indicators -->
                           <ol class="carousel-indicators">
                               <f:for each="{news}" as="newsItem" iteration="iterator">
                                   <li data-target="#carousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                               </f:for>
                           </ol>
                           <!-- Indicators -->

                           <!-- Wrapper for slides -->
                           <div class="carousel-inner">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <div class="thumbnail item{f:if(condition:iterator.isFirst, then:' active')}">
                                        <f:render partial="List/ItemCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </div>
                                </f:for>
                            </div>
                            <!-- Controls -->
                            <a href="#carousel-{contentObjectData.uid}" role="button" data-slide="prev" class="left carousel-control">
                                <i class="glyphicon glyphicon-chevron-left btn-prev"></i>
                            </a>
                            <a href="#carousel-{contentObjectData.uid}" role="button" data-slide="next" class="right carousel-control">
                                <i class="glyphicon glyphicon-chevron-right btn-next"></i>
                            </a>
                        </div>
                    </div>
                    <!-- CAROUSEL END -->
                </f:case>
                <f:case value="200">
                    <!-- UNE COLONNE -->
                    <div id="une-colonne-item-{contentObjectData.uid}" class="une-colonne">
                      <f:for each="{news}" as="newsItem" iteration="iterator">
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="thumbnail  item">
                                        <f:render partial="List/ItemUneColonne" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </div>
                                </div>
                        </div>
                      </f:for>
                    </div>
                    <!-- UNE COLONNE END -->
                </f:case>               
                <f:case value="300">
                    <!-- DEUX COLONNES -->
                    <div id="deux-colonnes-item-{contentObjectData.uid}" class="deux-colonnes">
                        <div class="row row-eq-height">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="col-md-6 thumbnail item">
                                        <f:render partial="List/ItemDeuxColonnes" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                             </f:for>
                        </div>
                    </div>
                    <!-- DEUX COLONNES END -->
                </f:case> 
                <f:case value="400">
                    <!-- News Carousel Vertical -->
                    <div id="t3news-newscarousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNewsCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>
                        </div><!-- End Carousel Inner -->

                    <ul class="list-group col-sm-4">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <li data-target="#t3news-newscarousel-{contentObjectData.uid}" data-slide-to="{iterator.index}" class="row list-group-item {f:if(condition:iterator.isFirst, then:' active')}">
                                <span class="carousel-thumb-small col-sm-3">
								<f:if condition="{newsItem.falMedia}">
									<!-- fal media preview element -->
									<f:then>
										<f:if condition="{newsItem.falMediaPreviews}">
											<f:then>
													<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
														<f:if condition="{mediaElement.originalResource.type} == 2">
															<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" class="img-responsive img-thumb"/>
														</f:if>
													</f:alias>
											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
														<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
												</f:if>
											</f:else>
										</f:if>

									</f:then>
									<f:else>

										<f:if condition="{newsItem.media}">
											<!-- media preview element -->
											<f:then>
												<f:if condition="{newsItem.mediaPreviews}">
													<f:then>
															<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
																<f:if condition="{mediaElement.type} == 0">
																	<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" class="img-responsive img-thumb"/>
																</f:if>
															</f:alias>
													</f:then>
													<f:else>
														<f:if condition="{settings.displayDummyIfNoMedia}">
																<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
														</f:if>
													</f:else>
												</f:if>

											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
													<f:then>
														<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
															<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive full-width"/>
														</n:link>
													</f:then>
												</f:if>
											</f:else>
										</f:if>

									</f:else>
								</f:if>
								</span>
								<span class="carousel-caption-small col-sm-9">
								<h4>
                                    {newsItem.title}
                                </h4>
								</span>
                            </li>
                        </f:for>
                    </ul>

                      <!-- Controls -->
                      <div class="carousel-controls">
                          <a class="left carousel-control" href="#t3news-newscarousel-{contentObjectData.uid}" data-slide="prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                          </a>
                          <a class="right carousel-control" href="#t3news-newscarousel-{contentObjectData.uid}" data-slide="next">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                          </a>
                      </div>

                    </div>
                    <!-- Fin News Carousel Vertical -->
                </f:case>
				<f:case value="401">
                    <!-- News Carousel Horizontal -->
                    <div id="t3news-newscarouselv-{contentObjectData.uid}" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNewsCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>
                        </div><!-- End Carousel Inner -->

                    <ul class="list-groupv">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <li data-target="#t3news-newscarouselv-{contentObjectData.uid}" data-slide-to="{iterator.index}" class="col-sm-4 list-group-item {f:if(condition:iterator.isFirst, then:' active')}">
                                <span class="carousel-thumb-small">
								<f:if condition="{newsItem.falMedia}">
									<!-- fal media preview element -->
									<f:then>
										<f:if condition="{newsItem.falMediaPreviews}">
											<f:then>
													<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
														<f:if condition="{mediaElement.originalResource.type} == 2">
															<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" class="img-responsive img-thumb"/>
														</f:if>
													</f:alias>
											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
														<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
												</f:if>
											</f:else>
										</f:if>

									</f:then>
									<f:else>

										<f:if condition="{newsItem.media}">
											<!-- media preview element -->
											<f:then>
												<f:if condition="{newsItem.mediaPreviews}">
													<f:then>
															<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
																<f:if condition="{mediaElement.type} == 0">
																	<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" class="img-responsive img-thumb"/>
																</f:if>
															</f:alias>
													</f:then>
													<f:else>
														<f:if condition="{settings.displayDummyIfNoMedia}">
																<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
														</f:if>
													</f:else>
												</f:if>

											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
													<f:then>
														<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
															<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive full-width"/>
														</n:link>
													</f:then>
												</f:if>
											</f:else>
										</f:if>

									</f:else>
								</f:if>
								</span>
								<span class="carousel-caption-small">
								<h4>
                                    {newsItem.title}
                                </h4>
								</span>
                            </li>
                        </f:for>
                    </ul>

                      <!-- Controls -->
                      <div class="carousel-controls">
                          <a class="left carousel-control" href="#t3news-newscarouselv-{contentObjectData.uid}" data-slide="prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                          </a>
                          <a class="right carousel-control" href="#t3news-newscarouselv-{contentObjectData.uid}" data-slide="next">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                          </a>
                      </div>

                    </div>
                    <!-- News Carousel Horizontal -->
                </f:case>
                <f:case value="402">
                    <!-- News Carousel Vertical + Ticker -->
                    <div id="t3news-newscarouselticker-{contentObjectData.uid}" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner ticker">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNewsCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>
                        </div><!-- End Carousel Inner -->
						
                    <div class="list-newst col-sm-4">
						<div class="ticker-news">
						<ul class="list-groupt">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <li data-target="#t3news-newscarouselticker-{contentObjectData.uid}" data-slide-to="{iterator.index}" class="row list-group-item ticker-item {f:if(condition:iterator.isFirst, then:' active')}">
                                <span class="carousel-thumb-small col-sm-3">
								<f:if condition="{newsItem.falMedia}">
									<!-- fal media preview element -->
									<f:then>
										<f:if condition="{newsItem.falMediaPreviews}">
											<f:then>
													<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
														<f:if condition="{mediaElement.originalResource.type} == 2">
															<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" class="img-responsive img-thumb"/>
														</f:if>
													</f:alias>
											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
														<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
												</f:if>
											</f:else>
										</f:if>

									</f:then>
									<f:else>

										<f:if condition="{newsItem.media}">
											<!-- media preview element -->
											<f:then>
												<f:if condition="{newsItem.mediaPreviews}">
													<f:then>
															<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
																<f:if condition="{mediaElement.type} == 0">
																	<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" class="img-responsive img-thumb"/>
																</f:if>
															</f:alias>
													</f:then>
													<f:else>
														<f:if condition="{settings.displayDummyIfNoMedia}">
																<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive img-thumb"/>
														</f:if>
													</f:else>
												</f:if>

											</f:then>
											<f:else>
												<f:if condition="{settings.displayDummyIfNoMedia}">
													<f:then>
														<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
															<f:image src="{settings.list.media.dummyImage}" title="" alt="" class="img-responsive full-width"/>
														</n:link>
													</f:then>
												</f:if>
											</f:else>
										</f:if>

									</f:else>
								</f:if>
								</span>
								<span class="carousel-caption-small col-sm-9">
								<h4>
                                            <n:link newsItem="{newsItem}" settings="{settings}" title="Ouvrir {newsItem.title}">
												{newsItem.title}
											</n:link>
                                </h4>
								</span>
                            </li>
                        </f:for>
                    </ul>
					</div>
					</div>
                      <!-- Controls -->
                      <div class="carousel-controls">
                          <a class="left carousel-control" href="#t3news-newscarouselticker-{contentObjectData.uid}" data-slide="prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                          </a>
                          <a class="right carousel-control" href="#t3news-newscarouselticker-{contentObjectData.uid}" data-slide="next">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                          </a>
                      </div>

                    </div>
                    <!-- Fin News Carousel Vertical + Ticker -->
                </f:case>	
				 <f:case value="403">
						<!-- News Carousel Boxed Thumbnails + Title -->            
						<div id="t3news-newscarouselbox-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
							<div class="carousel-inner">
								<f:for each="{news}" as="newsItem" iteration="iterator">
									
									<f:if condition="{iterator.isFirst}">
										<f:then>
											<div class="item{f:if(condition:iterator.isFirst, then:' active')}">
												<div class="row">
										</f:then>
									</f:if>
									
									<div class="col-md-3">
										<f:render partial="List/ItemBoxedThumbnails" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
									</div>
									<f:if condition="{iterator.cycle} % 4">
										<f:then>
											<f:if condition="{iterator.isLast}">
												<f:then>
														</div>
													</div>
												</f:then>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{iterator.isLast}">
												<f:then>
														</div>
													</div>
												</f:then>
												<f:else>
														</div>
													</div>
													<div class="item">
														<div class="row">
												</f:else>
											</f:if>
										</f:else>
									</f:if>
									
								</f:for>
							</div>
							<a class="left carousel-control" href="#t3news-newscarouselbox-{contentObjectData.uid}" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></i></a>
							<a class="right carousel-control" href="#t3news-newscarouselbox-{contentObjectData.uid}" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
							
							<ol class="carousel-indicators">
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:cycle values="{0: '1', 1:'', 2:'', 3:''}" as="indicator">
										<f:if condition="{indicator} == 1">
											<f:then>
												<li data-target="#t3news-newscarouselbox-{contentObjectData.uid}" data-slide-to="{f:if(condition:iterator.isFirst, then:'0', else:'1')}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
											</f:then>
										</f:if>
									</f:cycle>
								</f:for>
							</ol>                
						</div>
						<!-- News Carousel Boxed Thumbnails + Title -->    
				</f:case>				
                <f:case default="TRUE">
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <div class="row">
                               <div class="col-sm-12">
                                    <div class="wrapper-post">
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                        </f:for>
                                    </div>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
                                <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="wrapper-post">
                                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </n:widget.paginate>
                        </f:else>
                    </f:if>
                </f:case>
            </f:switch>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
</f:section>

